# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info


# Virtual environments
.venv

# Project artifacts
models/
results/
source/

# IDE
.cursor/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# uv
uv.lock

.pytest_cache/